.form-container{
    height: 100%;
    width: 100%;
    padding: 10px 10% 70px 10%;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.beer-form-container{
    background-image: url('../styles/images/BarelyGrowing.jpeg');
    margin-top: 21%;

}

.wine-form-container{
    background-image: url("../styles/images/vineyards-hero.jpg");
    margin-top: 21%;
}

.form-title{
    padding-bottom: 10%;
    text-align: center;

}

.form-btn{
    margin: 1% 0%;
}

.form-group{
    margin-bottom: 1%;    
}
