.beer-card {
    text-align: center;
    color: azure;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin: 2.5rem;
}

.btn-container, .container{
    padding: 1rem;
}
.btn{
    margin: .5rem;
}