.beer-card, .wine-card {
    text-align: center;
    color: azure;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin: 2.5rem;
    padding-top: 1rem;
    font-family: 'Rokkitt', serif;
}

.btn-container, .container{
    padding-bottom: .7rem;
}
.btn{
    margin: .5rem;
}