.card-container, .wine-card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: scroll;
    padding-top: 79px;
    padding-bottom: 72px;
}

.card-container{
    background-image: url("../styles/images/BarelyGrowing.jpeg");
}

.wine-card-container{
    background-image: url("../styles/images/vineyards-hero.jpg");

}
