.card-container, .wine-card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    margin-top: 85px;
}

.card-container{
    background-image: url("../styles/images/BarelyGrowing.jpeg");
    overflow: scroll;
}

.wine-card-container{
    background-image: url("../styles/images/vineyards-hero.jpg");
    overflow: scroll;
}
