.edit-form-container{
    padding: 10px 10% 70px 10%;
    align-content: center;
    display: flex;
    flex-direction: column;

}
.form-title{
    padding-top: 88px;
    text-align: center;
}

.form-btn{
    margin: 1% 0%;

}
.form-group{
    margin-bottom: 1%;
}