.page-header{
    position: absolute;
    width: 100%;
    color: blue;
    /* background-color: #b3b3b3; */
    background-color: rgba(230, 228, 139, 10);
    margin: 0;
    padding: 5px;
}
body{
    overflow: hidden;
}