.page-header{
    position: absolute;
    width: 100%;
    height: 85px;
    color: black;
    background-image: url('../styles/images/vector-hop-plant-seamless-background.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 5px;
}

.my-bevs-header{
    text-align: center;
    font-family: 'Righteous', cursive;
}

h1{
    font-family: 'Righteous', cursive;
}

body{
    overflow: hidden;
}