.btn-toolbar{
    display: flex;
    justify-content: center;
}

.btn{
    padding:1%
}

.home-container{
    overflow: scroll;
    background-image: url('./images/Burntshirt-Vineyard-Crest-of-the-Blue-Ridge.jpg')
}

.pie-chart-container{
    margin: 8% 10% 8% 10%;
    text-align: center;
    color: azure;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin: 2.5rem;
    padding-top: 1rem;
    font-family: 'Rokkitt', serif;
}